body{
    font-family: 'Fraunces 9pt',sans-serif;
    background-image: linear-gradient(#fdf9ee,#fff);
   background-repeat: no-repeat;
}
.header-ul{
    display: flex;
    margin-left: 1190px;
    margin-top: -22px;
    list-style-type:  none;
}
.header-text{
    opacity: 0.3;
    padding: 0 18px;
}
.header-img{
    margin-top: 30px;
    margin-left: 50px;
}
.img{
    margin-top: 43px;
    margin-left: 190px;
width: 1400px;
height: 600px;
}
.heading{
    height: 145px;
    line-height: 72px;
    font-size: 72px;
    font-weight: 900;
    margin-left: 320px;
    margin-top: -515px;
    color: #fff;
}
.text{
    color: #FEFCF7;
    opacity: 0.8;
    margin-left: 330px;
    font-size: 16px;
    line-height: 26px;
}
.heading2{
    font-size: 22px;
    margin-left: 330px;
    border-radius: 6px;
    display: inline-block;
    color: #FEFCF7;
    background-color: #0E8784;
    height: 45px;
    text-align: center;
    padding-top: 16px;
    width: 220px;
    margin-top: 50px;
}
.img{
    margin-left: 180px;
}
.wrapper-header{
    margin-bottom: 200px;
    list-style-type: none;
}
.wrapper-img2{
    width: 400px;
    height: 393px;
    margin-left: -10px;
margin-top: 300px;
}
.wrapper-heading{
    margin-top: -130px;
    margin-left: 100px;
    font-size: 42px;
    color: #333D4B;
}
.wrapper-heading1{
    position: absolute;
    width: 1111px;
    height: 196px;
    left: 165px;
    top: 849px;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
    mix-blend-mode: normal;
    font-size: 160px;
    margin-top: 1px;
    margin-left: 300px;
    opacity: 0.1; 
    margin-left: 180px;
}
.wrapper-text{
    margin-left: 105px;
    font-family: "Arial";
    margin-top: -30px;
}
.wrapper{
    display: flex;
}
.wrodded-heading{
    margin-top: -130px;
    margin-left: 490px;
    font-size: 42px;
    color: #333D4B;
}
.wrodded-img2{
    width: 400px;
    height: 393px;
    margin-left: 370px;
margin-top: -500px;
}
.wrodded-text{
    margin-left: 490px;
    font-family: "Arial";
    margin-top: -30px;
}
.drowwer-heading{
    margin-top: -150px;
    margin-left: 900px;
    font-size: 42px;
    color: #333D4B;
}
.drowwer-img2{
    width: 400px;
    height: 393px;
    margin-left: 780px;
margin-top: -820px;
}
.drowwer-text{
    margin-left: 910px;
    margin-top: -30px;
}
.dropped-heading{
    margin-top: -40px;
    margin-left: 1290px;
    font-size: 42px;
    color: #333D4B;
}
.dropped-img2{
    width: 350px;
    margin-left: 1200px;
    height: 200px;
}
.dropped-text{
    margin-left: 1290px;
    font-family: "Arial";
    margin-top: -20px;
}
.dropped-item{
    margin-top: -320px;
}
.div-img{
    margin-left: 250px;
    margin-bottom: 200px;
}
.class-text{
    position: absolute;
    height: 32px;
    margin-top: 2300px;
    margin-left: 165px;
    top: calc(50% - 32px/2 - 266.5px);
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;  
    color: #83888F;
}
.line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FDD6BA;
height: 3px;
width: 700px;
margin-top: 130px;
margin-left: 160px;
}
.circle{
    display: inline-block;
    background-color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #0E8784;
    border-radius: 50%;
}
.img-01{
    margin-top: 98px;
    margin-left: 165px;
}
.clas-01{
    list-style-type: none;
}
.class-heading{
    margin-bottom: 42px;
    margin-left: 160px;
    font-size: 34px;
    color: #333D4B;
}
.clas-text{
    margin-left: 160px;
    color: #333D4B;
    font-size: 13px;
}
.class-dropped{
    margin-top: -292px;
    margin-left: 545px;
}
.class-headink{
    margin-bottom: 42px;
    font-size: 34px;
    color: #333D4B;
}
.clas-texs{
    color: #333D4B;
font-size: 13px;
}
.class-drowwer{
    margin-top: -292px;
    margin-left: 1000px;
}
.class-headins{
    margin-bottom: 42px;
    font-size: 34px;
    color: #333D4B;
}
.clas-texk{
    color: #333D4B;
font-size: 13px;
}
.heading22{
    font-size: 22px;
    margin-left: 130px;
    border-radius: 6px;
    display: inline-block;
    color: #FEFCF7;
    background-color: #0E8784;
    height: 45px;
    text-align: center;
    padding-top: 16px;
    width: 220px;
    margin-top: 50px;
    margin-bottom: 200px;
}
.footer{
    margin-left: 100px;
   margin-bottom: 88px;
  height: 120px;
    display: flex;
    width: 1280px;
    background-color: #2C343E;
}
.footer-heading{
    margin-top: 50px;
    color: #fff;
}
.footer-img{
    margin-top: 50px;
    padding-left: 90px;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.footer-dropped{
    display: flex;
    list-style-type: none;
    margin-left: 30px;
    margin-top: 37px;
}
.footer-item{
    margin-right: 10px;
    margin-left: 25px;
    margin-top: 20px;
    color: #83888F;
}
.img-rofiq{
    margin-top: 53px;
   margin-left: 400px;
}
.footer-img1{
    margin-left: 20px;
}
